In [15]:
import pandas as pd
import pandas as np

In [16]:
df = pd.read_csv("Cars.csv")

In [17]:
print(df.shape)

(398, 9)

In [18]:
print(df.columns)

Index(['mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin', 'name'],
      dtype='object')

In [19]:
df.set_index(df['name'])

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
name,,,,,,,,,
chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

In [20]:
print(df['mpg'].unique())

[18.  15.  16.  17.  14.  24.  22.  21.  27.  26.  25.  10.  11.   9.
 28.  19.  12.  13.  23.  30.  31.  35.  20.  29.  32.  33.  17.5 15.5
 14.5 22.5 24.5 18.5 29.5 26.5 16.5 31.5 36.  25.5 33.5 20.5 30.5 21.5
 43.1 36.1 32.8 39.4 19.9 19.4 20.2 19.2 25.1 20.6 20.8 18.6 18.1 17.7
 27.5 27.2 30.9 21.1 23.2 23.8 23.9 20.3 21.6 16.2 19.8 22.3 17.6 18.2
 16.9 31.9 34.1 35.7 27.4 25.4 34.2 34.5 31.8 37.3 28.4 28.8 26.8 41.5
 38.1 32.1 37.2 26.4 24.3 19.1 34.3 29.8 31.3 37.  32.2 46.6 27.9 40.8
 44.3 43.4 36.4 44.6 40.9 33.8 32.7 23.7 23.6 32.4 26.6 25.8 23.5 39.1
 39.  35.1 32.3 37.7 34.7 34.4 29.9 33.7 32.9 31.6 28.1 30.7 24.2 22.4
 34.  38.  44. ]

In [21]:
df['metric']=df['horsepower']/df['weight']
df.set_index(df['metric'])

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,metric
metric,,,,,,,,,,
0.037100,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,0.037100
0.044679,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,0.044679
0.043655,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,0.043655
0.043694,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,0.043694
0.040591,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,0.040591
...,...,...,...,...,...,...,...,...,...,...
0.030824,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,0.030824
0.024413,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,0.024413
0.036601,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,0.036601
0.030095,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,0.030095
0.030147,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,0.030147

In [22]:
print(df.loc[df['horsepower'].idxmax(), 'name' ])

pontiac grand prix

In [23]:
print(len(df[df['mpg'] >= 35]))

36

In [24]:
print(df[(df['horsepower']>100) & (df['weight']<3000)]['origin'].mode()[0])

usa

In [25]:
print(round(df[df['origin']=='japan']['acceleration'].mean(),2))

16.17

In [26]:
print(df.groupby('model_year')['mpg'].mean().idxmax())

80

In [27]:
df['metric']=df['horsepower']/df['weight']

print(df[df['mpg']>df['mpg'].median()].sort_values('metric',ascending=False).head())

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
23   26.0          4         121.0       113.0    2234          12.5
333  32.7          6         168.0       132.0    2910          11.4
306  28.8          6         173.0       115.0    2595          11.3
180  25.0          4         121.0       115.0    2671          13.5
54   35.0          4          72.0        69.0    1613          18.0

     model_year  origin                name    metric
23           70  europe            bmw 2002  0.050582
333          80   japan       datsun 280-zx  0.045361
306          79     usa  chevrolet citation  0.044316
180          75  europe           saab 99le  0.043055
54           71   japan         datsun 1200  0.042777